body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ffd700, #8a2be2);
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #ffd700, #8a2be2);
  padding: 24px;
  width: 90%;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.graph-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.graph-section {
  text-align: center;
  width: calc((33.33% - 16px) * 1.5);
  padding: 16px;
  background-color: #f8f4fc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #333333;
  }

  p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 16px;
  }

  .graph {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

  &.large {
    width: calc((45% - 16px) * 1.5);
  }
}

.center {
  width: 100%;
  margin-bottom: 24px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 20px;

  h2 {
    font-size: 24px;
    color: #444444;
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    color: #666666;
    margin-bottom: 20px;
  }

  .graph {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
}
.map-container {
  width: 100%;
  max-width: 600px;
}

.graph-section:not(.center):hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .graph-row {
    flex-direction: column;
    align-items: center;
  }

  .graph-section {
    width: 100%;
    margin-bottom: 24px;
  }
}
