<form class="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      [(ngModel)]="firstNameValue"
      required
      minlength="2"
      maxlength="10"
      name="firstName"
      id="firstName"
      type="text"
      #firstName="ngModel"
      [class.invalid]="firstName.touched && firstName.errors"
    />
    <div class="alert alert-danger" *ngIf="firstName.touched && firstName.errors">
      <div *ngIf="firstName.errors['required']">* First name is required.</div>
      <div *ngIf="firstName.errors['minlength']">* First name should be minimum 2 characters.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input
      [(ngModel)]="surnameValue"
      required
      minlength="2"
      name="surname"
      id="surname"
      type="text"
      #surname="ngModel"
      [class.invalid]="surname.touched && surname.errors"
    />
    <div class="alert alert-danger" *ngIf="surname.touched && surname.errors">
      <div *ngIf="surname.errors['required']">* surname is required.</div>
      <div *ngIf="surname.errors['minlength']">* surname should be minimum 2 characters.</div>
    </div>
  </div>

  <fieldset>
    <input id="set-male" type="radio" name="set-gender" value="male" [(ngModel)]="selectedGender" />
    <label for="set-male">Male</label>

    <input
      id="set-female"
      type="radio"
      name="set-gender"
      value="female"
      [(ngModel)]="selectedGender"
    />
    <label for="set-female">Female</label>
  </fieldset>

  <div class="form-group">
    <label for="surname">Email</label>
    <input
      [(ngModel)]="emailValue"
      required
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      name="email"
      id="email"
      type="text"
      #email="ngModel"
      [class.invalid]="email.touched && email.errors"
    />
    <div class="alert alert-danger" *ngIf="email.touched && email.errors">
      <div *ngIf="email.errors['required']">* Email is required.</div>
      <div *ngIf="email.errors['pattern']">* Email is not valid.</div>
    </div>
  </div>
  <app-date-picker (dateChange)="onSelectDate($event)"></app-date-picker>
  <app-country-select (onCountryChange)="onCountryChange($event)"></app-country-select>
  <label for="location">Full Adress</label>

  <input type="text" id="address" name="address" [(ngModel)]="address" required />

  <app-hobbies (hobbiesUpdated)="updateHobbies($event)"></app-hobbies>
  <div class="color-picker-container">
    <label for="colorPicker">Choose the color that you like</label>
    <input
      [(colorPicker)]="favoriteColor"
      [style.background]="favoriteColor"
      name="favoriteColor"
      id="colorPicker"
      class="color-picker"
      readonly
    />
  </div>
  <div class="container-number-of-seats">
    <label for="number-of-seats">Required amount of seats</label>
    <input
      type="number"
      [min]="minSeats"
      [max]="maxSeats"
      id="number-of-seats"
      [value]="requiredAmountOfSeats"
    />
  </div>
  <div class="container-motor-type">
    <label for="motor-select">Select motor for your car</label>
    <select (change)="onMotorSelect($event)" id="motor-select">
      <option [value]="motor.type" *ngFor="let motor of motors$ | async">{{ motor.type }}</option>
    </select>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
