::ng-deep {
  .toast {
    &-info {
      top: 0;
      padding: 25px 30px;
      font-size: 18px;
      white-space: nowrap;
      border-radius: 8px;
      background-color: #ffbaba;
      color: #d8000c;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      z-index: 99;
      opacity: 0.7;
    }

    &-success {
      background-color: #270;
      color: #dff2bf;
      top: 0;
      padding: 25px 30px;
      font-size: 18px;
      white-space: nowrap;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      z-index: 99;
      opacity: 0.7;
    }
  }
}
.centered-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.centered-message p {
  max-width: 80%;
  font-size: 30px;
}

.centered-message span {
  font-weight: bold;
  color: #ffcc00;
  white-space: nowrap;
}
