::ng-deep {
  .toast {
    &-info {
      top: 0;
      padding: 25px 30px;
      font-size: 18px;
      white-space: nowrap;
      border-radius: 8px;
      background-color: #ffbaba;
      color: #d8000c;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      z-index: 99;
    }

    &-success {
      background-color: #270;
      color: #dff2bf;
      top: 0;
      padding: 25px 30px;
      font-size: 18px;
      white-space: nowrap;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      z-index: 99;
    }
  }
}
